<html>
<head>
    <meta charset="utf-8">
    <title>Books Homepage - Welcome to My Book Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Book Store</h1>
</header>
<main>
    <!--   <h2>Choose book:</h2>
        Display radio buttons for each book,
               the value should be the isbn
               and the displayed text should be Title: <bookTitle>, Genre:<genre>, Year: <year>
   <form th:method="POST">
    <th:block th:each="book : ${books}">
        <input type="radio" name="bookIsbn" th:value="${book.getIsbn()}">
        <label th:text="|Title : ${book.getTitle()}, Genre : ${book.getGenre()}, Year : ${book.getYear()}|"></label></br>
    </th:block>
       <input type='submit' value='Submit'>
   </form>
    -->


    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Book name</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Year</th>
                            <th scope="col">Authors</th>
                            <th scope="col">Book Store</th>
                            <th scope="col">Edit book</th>
                            <th scope="col">Add Author</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book : ${books}" class="book">
                            <td th:text="${book.getTitle()}"></td>
                            <td th:text="${book.getGenre()}"></td>
                            <td th:text="${book.getYear()}"></td>
                            <td th:text="${book.authorsToString()}"></td>
                            <td th:text="${book.getBookStore().getName()}"></td>
                            <td class="text-right">
                                <th:block>
                                    <form th:action="@{'/books/delete/{isbn}' (isbn=${book.getIsbn()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block>
                                    <a th:href="@{'/books/add-form/{isbn}' (isbn=${book.getIsbn()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>

                            </td>
                            <td class="text-right">
                                <th:block>
                                    <form th:action="@{'/authors/add/{isbn}' (isbn=${book.getIsbn()})}" th:method="POST">
                                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-trash">Add author</i></button>
                                    </form>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <a href="/books/add-form" class="btn btn-block btn-dark add-product-btn">
                    Add new book
                </a>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
</html>